<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{manageUser}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
</head>
<body>
<div layout:fragment="content">
  <h2>Change Password</h2>
  <form method="post" th:action="@{/user/update-profile}" th:object="${password}">
    <!-- Old Password -->
    <div class="form-group row">
      <label for="oldPassword" class="col-sm-2 col-form-label">Old password</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="oldPassword"  th:field="*{oldPassword}">
      </div>
      <div class="text-danger" th:errors="*{oldPassword}"></div>
    </div>

    <!-- New Password -->
    <div class="form-group row">
      <label for="newPassword" class="col-sm-2 col-form-label">New password</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="newPassword" th:field="*{newPassword}">
      </div>
      <div class="text-danger" th:errors="*{newPassword}"></div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm password</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="confirmPassword" th:field="*{confirmPassword}">
      </div>
      <div class="text-danger" th:errors="*{confirmPassword}"></div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-success w-50">Change Password</button>
      </div>
    </div>
  </form>

</div>
</body>
</html>
