<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="partials/header :: common-header">
</head>
<div th:replace="partials/header :: navbar"></div>
<body>


<style>
    .sidebar {
        height: 100vh;
        padding: 15px;
        background-color: #343a40;
        color: #fff;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 220px;
        z-index: 1;
    }
    .content {
        margin-left: 220px;
        padding: 15px;

    }


</style>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div th:replace="partials/userSidenav :: sidenav" class="sidebar"></div>

        <!-- Content area -->
        <div class="col py-3 content ">

               <div class ="content-container w-100 h-100 p-3 m-3 d-flex justify-content-center align-items-start">
                   <div layout:fragment="content" class="w-75 h-75"></div>
               </div>

        </div>
    </div>
</div>

<div th:replace="partials/header :: body-scripts"></div>
</body>

<script>
    function deleteAddress(id) {
   Swal.fire({
           title: 'Are you sure?',
           text: "You won't be able to revert this!",
           icon: 'warning',
           showCancelButton: true,
           confirmButtonColor: '#3085d6',
           cancelButtonColor: '#d33',
           confirmButtonText: 'Yes, delete it!'
       }).then((result) => {
           if (result.isConfirmed) {
               $.ajax({
                   url: '/user/delete-address/' + id,
                   type: 'DELETE',
                   success: function(result) {
                       // Xóa dòng khỏi bảng
                       $('#row-' + id).remove();
                       Swal.fire(
                           'Deleted!',
                           'Your address has been deleted.',
                           'success'
                       );
                   },
                   error: function(xhr, status, error) {
                       Swal.fire(
                           'Error!',
                           'There was an error deleting the address.',
                           'error'
                       );
                   }
               });
           }
       });

}
</script>
</html>
